<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gemfire Customers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div th:switch="${customers}">
    <div th:case="*">
        <h2>All Customers</h2>
        <table border="1" cellpadding="2">
            <thead>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Age</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer : ${customers}">
                <td th:text="${customer.firstname}"></td>
                <td th:text="${customer.lastname}"></td>
                <td th:text="${customer.age}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>